<h1> Doctors</h1>
<%= @doctor.name %><br>
<%= @doctor.department %>
<% @doctor.appointments.each do |appt| %><br> 
    <div> 
    <%= appt.appointment_datetime.strftime('%B %e, %Y at %k:%M') %><br>
    </div> 
    <%= link_to appt.patient.name, patient_path(appt.patient) %> 
    <% end %>
